<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.plugin.helloworld.actionSet1"
            label="HelloWorld ActionSet"
            visible="true">
         <menu
               id="helloWorldMenu"
               label="HelloWorld Menu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.plugin.helloworld.HelloWorldAction"
               id="helloWorldAction"
               label="HelloWorld Action"
               menubarPath="helloWorldMenu/group1"
               style="push">
         </action>
      </actionSet>
   </extension>

</plugin>
